.homepage {
    text-align: center;
    
  }
  
  .header {
    background-color: #9eff77;
    color: white;
    padding: 20px;
  }
  
  .content {
    margin: 20px 0;
  }
  
  .footer {
    background-color: #282c34;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  